
{{#if isUserLoggedIn }}
<div class="container">
<p> Hello, {{ currentUserInfo.firstNeighm }}. </p>

<ul>
  <li>
    <a href="/profile"> My Profile </a>
  </li>
</ul>

{{#if errorMessage}}
<p class="error-message">
  {{ errorMessage }}
</p>
{{/if}}

<form class="mb-5" action="/add-post" method="post">
  <input name="text" type="text" placeholder="Write a new Post">
  <button>Post</button>
</form>


{{#each posts}}
<div class="card text-center mb-5">
  <div class="card-header">
    {{this._owner.firstNeighm}}
  </div>
  <div class="card-body">
    <p class="card-text">{{this.text}}</p>
  </div>
  <div class="card-footer text-muted">

    {{#each this._comments}}
      <div>{{this._owner.firstNeighm}}</div>
      <div>{{this._owner.lastNeighm}}</div>
      <div>{{this.text}}</div>
    {{/each}}

    <form action="/add-comment" method="post">
      <input name="text" type="text" placeholder="Comment">
      <input name="postId" type="text" value="{{this._id}}" hidden>
      <button>Send</button>
    </form>
    
  </div>
</div>
{{/each}}
</div>

{{else}}

<div class="header">
<div class="container">
<p> Welcome to {{ title }}. </p>
</div>
</div>


{{/if}}

