 {{#if isUserLoggedIn }}
<div class="container">

  <div id="map"></div>


  {{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
  {{/if}}

  <form class="post-form" action="/add-post" method="post">
    <p>Post an Activity</p>
    <input class="post" name="text" type="text" placeholder="Tell your Neighs what's up!">
    <button class="post-btn btn btn-light">Post</button>
  </form>


  {{#each posts}}
  <div class="card mb-5">
    <div class="card-header">
      <a href="/profile">
      {{this._owner.firstNeighm}}
      {{this._owner.lastNeighm}}
      </a>
    </div>
    <div class="card-body">
      <p class="card-text">{{this.text}}</p>
    </div>
    <div class="card-footer text-muted">

      {{#each this._comments}}
      <div>
        <a href="/profile">
        {{this._owner.firstNeighm}} {{this._owner.lastNeighm}}
        </a>
      </div>

      <div>{{this.text}}</div>
      {{/each}}

      <form action="/add-comment" method="post">
        <input name="text" type="text" placeholder="Comment">
        <input name="postId" type="text" value="{{this._id}}" hidden>
        <button>Send</button>
      </form>

    </div>
  </div>
  {{/each}}
</div>

{{else}}

<div class="header">
  <div class="container">

      <h1 class="h1-not-logged"><span>Hey Neigh!</span><br>Make friends around the corner. </h1>
    <div class="text-center"></div>
      <a class="button-not-logged btn btn-primary btn-lg" href="/signup" role="button">Get Started</a>  
    </div>


  </div>
</div>

{{/if}}




<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUTV-rXp0MkyXfDftokR4tFGFqq0lb2zc&libraries=places"></script>